.result-image {
    width: 1024px;
    position: relative;
    overflow: hidden;
    background-size: 1024px auto;
    background-repeat: repeat-y;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 1024px;
    z-index: 2;
}

#result-image > div > h1:nth-child(1) {
    text-align: center;
    font-size: 48px;
    letter-spacing: 2px;
    margin: 170px 0 0 0;
    color: white;
}
#result-image > div > h1{
    margin: 10px 0 0 0;
    font-size: 48px;
    color: white;

}
.date {
    text-align: center;
    font-size: 26px;
    color: #d8b35b;
    margin-top: 10px;
    margin-bottom: 40px;
}

.matches {
    width: 100%;
}

.match {
    width: 850px;
    margin: 0 auto 25px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.match-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;

    background: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
    margin-bottom: 0;
}

.team {
    font-size: 34px;
    font-weight: bold;
    color: white;
    white-space: nowrap;
}

.center {
    text-align: center;
}

.score-image {
    font-size: 48px;
    font-weight: bold;
    color: white;

    background: none !important;
    background-color: #d8b35b !important;
    box-shadow: none !important;
    border: none !important;
    width: 90px !important;
    z-index: -20;
    padding-bottom: 15px;
    border-radius: 12px
}

.note {
    color: #d8b35b;
    font-size: 18px;
    margin-top: 4px;
}

.time {
    font-size: 20px;
    color: #ccc;
    margin-top: -42px;
    z-index: 2;
    color: white;
    font-weight: bold;
}
.next-time{
    font-size: 30px;
    font-weight: bold;
    color: white;

    background: none !important;
    background-color: #d8b35b !important;
    box-shadow: none !important;
    border: none !important;
    width: 90px !important;
    z-index: -20;
    border-radius: 12px;

}

.download-button {
    margin-top: 20px;
    padding: 10px 25px;
    background-color: #e63946;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.download-button:hover {
    background-color: #d62839;
}
.sponsors-image {

    bottom: 35px;
    left: 0;
    width: 100%;
    text-align: center;
}

.sponsors-image-title {
    text-align: center;
    color: #d8b35b;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 18px;
    letter-spacing: 1px;
}

.sponsors-image-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sponsors-image-logos img {
    height: 60px;
    width: 120px;
    object-fit: contain;

}